.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5aa0eb;

  color: whitesmoke;
  height: 5vh;
  margin: 1vh 0.5vw 1vh 0.5vw;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1vh;
}

.creater {
  margin-left: 0.5vw;
}
