.barGraphComponet {
  width: 60vw;
  background-color: #272953;
  border-radius: 10px;
  padding: 1%;
}
.pichartComponent {
  aspect-ratio: 1/1;
  flex-grow: 1;
  background-color: #272953;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
