.mainContent {
  padding: 0.5% 1% 1% 1%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tableNstatisticsContainer {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
}

.statisticsContainer {
  /* width: 80%; */
  min-width: 20%;
  padding: 1%;
  background-color: #5aa0eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}

.graphNchart {
  margin-top: auto;
  padding: 1%;
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.blockLoader {
  background-color: #5aa0eb;
  border-radius: 10px;
  flex-grow: 1;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
